* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f8;
    font-family: 'Poppins', sans-serif;
}
.banner {
    background-color: #004080;
    padding: 30px;
    text-align: center;
}
.banner h1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.container {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
}
.event-card {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.event-card h2 {
    color: #004080;

    font-size: 28px;
    font-weight: 600;
    font-style: italic;

    margin-bottom: 15px;
}
.description {
    color: #444;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;

    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.8;
}