* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}
header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 25px;
}
.container {
    width: 85%;
    max-width: 1100px;
    margin: 40px auto;
}
.news-section {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
}
.news-section h2 {
    text-align: center;
    color: #004080;
    margin-bottom: 20px;
}
.news-article {
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid gray;

    text-align: justify;
    line-height: 1.8;
}
.news-article p {
    margin-bottom: 15px;
}